{% extends 'base/main.html' %}
{% block content %}
<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <div id="loader" class="loader"></div>
    <form id="login-form" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

<style>
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        display: none; /* Hide initially */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('login-form');
        var loader = document.getElementById('loader');

        form.addEventListener('submit', function () {
            // Show the loader
            loader.style.display = 'block';
        });
    });
</script>

{% endblock content %}
